<?xml version="1.0"?>
<config>
    <modules>
        <Magecert_First>
            <version>1.0</version>
        </Magecert_First>
    </modules>
    <global>
        <blocks>
            <first>
                <class>Magecert_First_Block</class>
            </first>
        </blocks>
    </global>
    <frontend>
        <routers>
            <first>
                <use>standard</use>
                <args>
                    <module>Magecert_First</module>
                    <frontName>first</frontName>
                </args>
            </first>
        </routers>
    </frontend>
</config>